.example-card {
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center
}

.example-header-image {
  background-size: cover;
}

#image {
  max-width:320px;
}

.main-div{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
