<form [formGroup]="userForm" (submit)="saveUser()">
    <label for="name">Name</label>
    <input formControlName="name" id="name" /><br>

    <label for="userName">Username</label>
    <input formControlName="userName" id="userName" /><br>

    <label for="password">Password</label>
    <input formControlName="password" id="password" type="password"/><br>
  
    <label for="email">Email</label>
    <input formControlName="email" id="email" /><br>
  
    <label for="location">Location</label>
    <input formControlName="location" id="location" /><br>

    <label for="time">Time</label>
    <input formControlName="time" id="time" /><br>

    <label for="eventName">Event Name</label>
    <input formControlName="eventName" id="eventName" /><br>

    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
  