@import "../../styles.scss";


form {
    background-color: $white;
    min-height: 100%;
    padding: 20px;
    border-radius: 5%;
    margin-top: 50px;
    z-index: 3;
}

h2 {
    font-family: $bigfont;
    color: $white;
    font-size: 30px;
    font-weight: lighter;

}
label {
    padding-right: 10px;

}
input {
    margin-bottom: 10px;
    left: 0;
    width: 100%;
    clear: both;
}
input:active {
    outline-color: $darkgreen;
}

button {
    background-color: $darkgreen;
    color: $white;
    border: 1px solid $white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-transform: uppercase;
    float: right;
    transition: .5s;
}
button:hover {
    background-color: $white;
    border: solid 1px $darkgreen;
    color: $darkgreen;
    transition: .5s;
    cursor: pointer;
}
#picture:hover {
    cursor: pointer;
}


@media only screen and (max-width: 500px) {
    form {
        min-width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    label {
        padding-right: 50px;
    }
}

#map {
  height:300px;
}
