<form [formGroup]="userForm" (ngSubmit)="sendData(userForm.value)">
    <label for="name">Name</label>
    <input formControlName="name" id="name" placeholder="Good Samaritan"/><br>

    <label for="location">Location</label>
    <input formControlName="location" id="location" placeholder="123 Dirty Pl"/><br>

    <label for="time">Time & Date</label>
    <input formControlName="time" id="time" placeholder="mm/dd/yyyy 0:00"/><br>

    <label for="eventName">Event Description</label>
    <input formControlName="eventName" id="eventName" /><br>

    <label for="picture">Picture</label>
    <input formControlName="picture" type="file" id="picture" /><br>


    <button type="submit" [disabled]="!userForm.valid" id="submit">Submit</button>
</form>
<div class="map">
    <agm-map id="map" [latitude]="startlat" [longitude]="startlong" [zoom]="zoom">
        <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng" [markerDraggable]="m.draggable">
        </agm-marker>
      </agm-map>
      
</div>
