@import "../../styles.scss";


form {
    background-color: $white;
    position: absolute;
    padding: 20px;
    border-radius: 5%;
    margin-top: 50px;
    width: 500px;
    z-index: 5;
    top: 20px;
   right: 100px;
}

h2 {
    font-family: $bigfont;
    color: $white;
    font-size: 30px;
    font-weight: lighter;

}
label {
    padding-right: 10px;

}
input {
    margin-bottom: 10px;
    left: 0;
    width: 100%;
    clear: both;
}
input:active {
    outline-color: $darkgreen;
}

button {
    background-color: $darkgreen;
    color: $white;
    border: 1px solid $white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-transform: uppercase;
    float: right;
    transition: .5s;
}
button:hover {
    background-color: $white;
    border: solid 1px $darkgreen;
    color: $darkgreen;
    transition: .5s;
    cursor: pointer;
}
#picture:hover {
    cursor: pointer;
}
.map {
    width:100% !important;
    position: relative;
    height:400px !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
#map {
    width: 100%;
}

@media only screen and (max-width: 500px) {
    form {
        min-width: 400px;
        display: block;
        margin-left: 100px;
        margin-right: auto;
        margin-bottom: 50px;
    }
    label {
        padding-right: 50px;
    }
}
// @media only screen and (max-width: 1200px) {
//     form {
//         margin-left: 100px;
//     }
// }
@media only screen and (max-width: 450px) {
    form {
        width: 250px;
       margin-left: -300px;
    }
    input {
        width: 200px;
    }
}

#map {
  height:300px;
}
