@import "../../styles.scss";

div {
    min-height: 100%;
}

h1 {
    text-align: left;
    color: $black;
    font-family: $bigfont;
    font-size: 80px;
    margin-bottom: 10px;
    margin-top: 80px;
    
}
h2 {
    text-align: center;
    color: $darkgreen;
    font-family: $bigfont;
    font-size: 30px;
}
svg {
    width: 10%;
    height: 10%;
    display: block;
    margin: auto;
    margin-top: 0;
}

.home_left {
  height: 700px;
  display: table;
}

.home_left::after {
  background: $seafoam;
  z-index: -1;
}

.home_left_content {
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (max-width: 400px) {
  .form {
      width: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 50px;
    margin-left: 50px;
    min-width: 300px;
  }
  h2 {
    margin-left: 10px;
  }
}
