@import "../../styles.scss";


.body {
    background-color: $white;
    padding-top: 100px;
    margin-top: -100px;
}

h2 {
    font-weight: bolder;
    text-align: center;
    padding-bottom: 20px;
}